.App {
  height: 100%;
  width: 100%;
  background: black;
  overflow: hidden; }
  .App .Head, .App .Left, .App .Right, .App .Foot, .App .Action {
    border: 2px solid lightgreen;
    border-radius: 4px;
    background: black;
    position: absolute;
    color: lightgreen;
    transition: 0.7s all;
    text-align: center;
    display: flex;
    flex-wrap: wrap; }
    .App .Head h1, .App .Head h2, .App .Left h1, .App .Left h2, .App .Right h1, .App .Right h2, .App .Foot h1, .App .Foot h2, .App .Action h1, .App .Action h2 {
      margin: auto;
      width: 100%; }
  .App .Head:hover,
  .App .Left:hover,
  .App .Right:hover,
  .App .Foot:hover,
  .App .Action:hover {
    color: white;
    transition: 0.7s all; }
  .App .Head {
    top: -2px;
    height: 36px;
    width: calc(100% - 38px);
    overflow: hidden; }
    .App .Head img {
      width: 40px;
      height: 34px;
      filter: invert(1); }
    .App .Head h5 {
      margin: 0;
      height: 36px;
      align-items: center;
      color: white;
      font-size: 28px;
      border-bottom: 1px solid #212121;
      width: calc(100% - 10px);
      transition: 0.7s all; }
    .App .Head #tricksCont {
      width: 100%;
      height: calc(260px);
      display: flex;
      overflow: scroll;
      margin: 0px auto 0 auto;
      transition: 0.7s all; }
      .App .Head #tricksCont .trick {
        border: 2px solid lightgreen;
        border-radius: 4px;
        min-width: 350px;
        height: 90%;
        margin: 10px; }
  .App .Left {
    left: -2px;
    top: 38px;
    height: calc(100% - 74px);
    width: 36px;
    overflow: hidden; }
    .App .Left #leftCont {
      width: 100%;
      height: 100%; }
      .App .Left #leftCont h2 {
        width: 300px;
        height: 50px;
        transition: 0.7s all;
        padding-top: 1px;
        pointer-events: none;
        color: white;
        border-bottom: 1px solid #212121;
        mix-blend-mode: difference; }
      .App .Left #leftCont #leftList {
        height: calc(100% - 55px);
        width: 98%;
        margin: auto;
        transition: 0.7s all;
        display: flex;
        flex-wrap: wrap;
        overflow: scroll; }
        .App .Left #leftCont #leftList .leftO {
          border: 2px solid lightgreen;
          height: 150px;
          width: 100%;
          border-radius: 4px;
          margin: 5px auto;
          display: flex;
          flex-wrap: wrap; }
          .App .Left #leftCont #leftList .leftO h2 {
            height: 0px;
            width: 100%; }
          .App .Left #leftCont #leftList .leftO .oCont {
            width: 100%;
            height: 100%;
            display: flex;
            flex-wrap: wrap; }
            .App .Left #leftCont #leftList .leftO .oCont .shapeToggle {
              width: 45%;
              margin: auto;
              border: 1px solid gray;
              height: 25px;
              display: flex; }
              .App .Left #leftCont #leftList .leftO .oCont .shapeToggle h5 {
                width: calc(100% - 50px); }
              .App .Left #leftCont #leftList .leftO .oCont .shapeToggle .switch {
                border: 1px solid white;
                height: 20px;
                color: white;
                width: 40px; }
                .App .Left #leftCont #leftList .leftO .oCont .shapeToggle .switch .toggle {
                  background: gray;
                  border: 2px solid white;
                  border-radius: 50%;
                  height: 20px;
                  width: 20px;
                  margin: auto;
                  pointer-events: none; }
  .App .Right {
    right: -2px;
    height: calc(100% - 36px);
    width: 36px;
    overflow: hidden; }
    .App .Right h2 {
      width: 300px;
      height: 50px;
      transition: 0.7s all;
      padding-top: 1px;
      pointer-events: none;
      color: white;
      border-bottom: 1px solid #212121;
      mix-blend-mode: difference; }
  .App .Foot {
    bottom: -4px;
    height: 36px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: left; }
    .App .Foot h2 {
      border-bottom: 1px solid white;
      width: 90%;
      height: 34px;
      margin: 0 auto;
      pointer-events: none;
      mix-blend-mode: difference;
      color: white; }
  .App .Action {
    left: 39px;
    top: 38px;
    width: calc(100% - 76px);
    height: calc(100% - 74px);
    overflow: scroll; }
    .App .Action #hero {
      width: 100%;
      height: 100%;
      align-content: center;
      margin: 0;
      color: white;
      display: flex; }
      .App .Action #hero h1, .App .Action #hero h2, .App .Action #hero h3, .App .Action #hero h4, .App .Action #hero h5 {
        border-bottom: 1px solid blue;
        width: 100%;
        height: 50px;
        margin: auto; }
      .App .Action #hero #boxDiv {
        border: 2px solid white;
        border-radius: 5px;
        height: 90%;
        width: 30%;
        height: 600px;
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        margin: auto; }
        .App .Action #hero #boxDiv .Drop {
          border: 2px dashed blue;
          width: 100%; }
          .App .Action #hero #boxDiv .Drop #csvReader {
            width: 100%;
            border: 2px dashed gray; }
        .App .Action #hero #boxDiv .Plot {
          width: 100%;
          height: 100%;
          display: flex;
          flex-wrap: wrap; }
          .App .Action #hero #boxDiv .Plot .squarea {
            margin: auto;
            transition: 0.5s all; }
            .App .Action #hero #boxDiv .Plot .squarea .corrInfo {
              opacity: 0;
              pointer-events: none;
              transition: 0.5s all;
              background: black; }
          .App .Action #hero #boxDiv .Plot .squarea:hover {
            border: 2px solid white;
            transition: 0.5s all; }
            .App .Action #hero #boxDiv .Plot .squarea:hover .corrInfo {
              opacity: 1;
              transition: 0.5s all;
              width: 300px;
              height: 200px;
              border: 2px solid lightgreen;
              background: black;
              pointer-events: none; }
  .App .Foot #hoverBox-Foot,
  .App .Left #hoverBox-Left,
  .App .Right #hoverBox-Right {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: 0.7s all;
    padding: 2px; }
  .App .Left #hoverBox-Left,
  .App .Right #hoverBox-Right {
    width: 36px; }
  .App .Left #hoverBox-Left {
    right: 0px; }
  .App .Foot #hoverBox-Foot {
    height: 36px; }
  .App .Left #hoverBox-Left:hover {
    -webkit-box-shadow: inset -10px 0px 20px -5px rgba(0, 255, 26, 0.88);
    box-shadow: inset -10px 0px 20px -5px rgba(0, 255, 26, 0.88);
    transition: 0.7s all; }
  .App .Foot #hoverBox-Foot:hover {
    -webkit-box-shadow: inset 20px -5px -10px 0px rgba(0, 255, 26, 0.88);
    box-shadow: inset 0px 10px 20px -5px rgba(0, 255, 26, 0.88);
    transition: 0.7s all; }
  .App .Right #hoverBox-Right:hover {
    -webkit-box-shadow: inset 10px 0px 20px -5px rgba(0, 255, 26, 0.88);
    box-shadow: inset 10px 0px 20px -5px rgba(0, 255, 26, 0.88);
    transition: 0.7s all; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 0px; }

/* Track */
::-webkit-scrollbar-track {
  background: none; }

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgreen;
  border: 2px solid black;
  border-radius: 4px;
  opacity: 0.7; }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
  background: black !important;
  overflow: hidden; }
